<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Jedi Academy</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class="star-wars-content">
            <p>
                <strong>Выбор падавана для джедая {{jedi.name}} </strong>
            </p>
            <table class="super-table">
                {% for candidate in candidates %}
                    <tr>
                        <th rowspan="4">
                            {{ candidate.candidate.name }}
                            <br/>
                            <br/>
                            {% if candidate.candidate.name in padawans %}
                            <span class="label success">Падаван</span>
                            <br/>
                            <br/>
                            <input type="button" onclick="location.href='/jedi/{{jedi.pk}}/padawan/{{candidate.candidate.pk}}';" value="Изгнать" class="button-red"/>
                            {% else %}
                            <span class="label other">Кандидат</span>
                            <br/>
                            <br/>
                            <input type="button" onclick="location.href='/jedi/{{jedi.pk}}/padawan/{{candidate.candidate.pk}}';" value="Взять" class="button-green"/>
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <td>{{ candidate.questions.question1 }}</td>
                        <td>{{ candidate.answers.answer1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ candidate.questions.question2 }}</td>
                        <td>{{ candidate.answers.answer2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ candidate.questions.question3 }}</td>
                        <td>{{ candidate.answers.answer3 }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br/>
            <input type="button" onclick="location.href='/';" value="Домой" class="button-blue"/>
        </section>
    </body>
</html>